<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OhSoonTaxiAndroid"
        tools:targetApi="31">
        <activity
            android:name=".ui.update.UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.create.CreateGenderActivity"
            android:exported="false"
            android:label="@string/title_activity_create_gender"
            android:theme="@style/Theme.OhSoonTaxiAndroid.NoActionBar" />
        <activity
            android:name=".ui.create.CreateSeatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".NaviHostActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>